@{
    ViewBag.Title = "Dashboard";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>System Menu</h4>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <a href="/Software/Course" class="btn btn-success btn-lg btn-block" style="padding-top: 50px; padding-bottom: 50px;">Course</a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>
